@use 'styles/colors' as colors;

.root {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  @media (min-width: 480px) {
    justify-content: center;
  }
}

.body {
  max-width: 90%;
  background: #fff;
  border: 4px solid colors.$dialog;
  padding: 16px 16px;
  box-sizing: border-box;
  margin-top: 16px;
  margin-bottom: 16px;
  @media (min-width: 480px) {
    max-width: 420px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.blockTop {
  color: colors.$dialog;
  border-bottom: 1px solid #ccc;
  margin-bottom: 24px;
  padding-bottom: 24px;
}

.blockBottom {
  border-top: 1px solid #ccc;
  margin-top: 24px;
  padding-top: 24px;
}

.btnClose {
  cursor: pointer;
  color: colors.$dialog;
}
