$red: rgb(255, 70, 70);
$green: rgb(70, 255, 116);
$blue: rgb(70, 166, 255);
$orange: rgb(255, 200, 70);
$purple: rgb(255, 70, 255);

$layout: $blue;
$dialog: $red;

$index: $green;
$post: $orange;
$about: $purple;
